html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

body {
    background-color: #ececec;;
    color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    width: 100%;
    margin: 5px;
}

.image-container img {
    max-width: 90%;
    max-height: 90vh;
    height: auto;
    width: auto;
    object-fit: scale-down;
}

.story {
    max-width: 90%;
    text-align: justify;
    margin: 0% 5%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.header-logo {
    max-width: 100%;
    height: auto;
    max-height: 7vh;
    margin-right: 1vh;
}

.header-title {
    margin-top: 20px; 
    font-size: 1.8rem;
}

.index-photo {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

.index-photo-container {
    width: 100%;
}

.index-photo-element-left {
    float: left; 
    width: 45%; 
    text-align: right;
    margin: 1%;
}

.index-photo-element-right {
    float: right; 
    width: 45%; 
    text-align: left;
    margin: 1%;
}

/* Aux styles */

.mt-5 {
    margin-top: 5px; 
}

.mt-10 {
    margin-top: 10px; 
}

.ff-monospace {
    font-family: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}